/* Reset */
*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Vollkorn", "Georgia", serif;
}

a {
  text-decoration: none;
}

li, ol {
  list-style: none;
}

/* Grid configs */
.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidenav content advertising"
    "footer footer footer"
  ;
  grid-template-columns: minmax(16rem, 1fr) 3fr 30rem;
}

/* Header */
.header {
  background: linear-gradient(135deg, #8844EE, #B07DFB);
  grid-area: header;
  padding: 3rem;

  /* inner grid */
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
}

.logo {
  max-width: 20rem;
}

.header__nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header__nav-item + .header__nav-item {
  margin-left: 3rem;
}

.header__nav-item a {
  background: rgba(0, 0, 0, .1);
  border-radius: 5px;
  color: #FFF;
  display: block;
  font-size: 1.8rem;
  padding: 1rem;
  transition: background 0.1s;
}

.header__nav-item a:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* Sidenav */
.sidenav {
  background: #FAFBFC;
  grid-area: sidenav;
  padding: 3rem;
}

.sidenav-item a {
  background: #FFF;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(4, 4, 4, 0.15);
  display: block;
  margin: 0 auto 3rem auto;
  min-width: 6rem;
  max-width: 14rem;
  padding: 2rem;
  transition: background 0.1s ease-out;
}

.sidenav-item a:hover {
  background: #B07DFB;
}

.content {
  grid-area: content;
}

.advertising {
  grid-area: advertising;
}

.footer {
  grid-area: footer;
}