/* Reset */
*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Vollkorn", "Georgia", serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

li, ol {
  list-style: none;
}

img {
  border-radius: 5px;
  display: block;
  max-width: 100%;
  width: 100%;
}

/* Grid configs */
.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidenav content advertising"
    "footer footer footer"
  ;
  grid-template-columns: minmax(16rem, 1fr) 3fr 30rem;
}

@media only screen and (max-width: 1200px) {
  .container {
    grid-template-areas: 
      "header header header"
      "sidenav content content"
      "sidenav advertising advertising"
      "footer footer footer"
    ;
  }
}

@media only screen and (max-width: 760px) {
  .container {
    grid-template-columns: 100%;
    grid-template-areas: 
      "header"
      "sidenav"
      "content"
      "advertising"
      "footer"
    ;
  }
}

/* Utils */
.col-wide {
  grid-column: 1 / -1;
}

/* Header */
.header {
  background: linear-gradient(135deg, #8844EE, #B07DFB);
  grid-area: header;
  padding: 3rem;

  /* inner grid */
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
}

.logo {
  max-width: 20rem;
}

.header__nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header__nav-item + .header__nav-item {
  margin-left: 3rem;
}

.header__nav-item a {
  background: rgba(0, 0, 0, .1);
  border-radius: 5px;
  color: #FFF;
  display: block;
  font-size: 1.8rem;
  padding: 1rem;
  transition: background 0.1s;
}

.header__nav-item a:hover {
  background: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 760px) {
  .header {
    grid-template-columns: auto;
  }

  .logo {
    margin-bottom: 2rem;
  }

  .header__nav-item a {
    foont-size: 1.6rem;
  }

  .header__nav-item + .header__nav-item {
    margin-left: 1rem;
  }
}

/* Sidenav */
.sidenav {
  background: #FAFBFC;
  grid-area: sidenav;
  padding: 3rem;
}

.sidenav-item a {
  background: #FFF;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(4, 4, 4, 0.15);
  display: block;
  margin: 0 auto 3rem auto;
  min-width: 6rem;
  max-width: 14rem;
  padding: 2rem;
  transition: background 0.1s ease-out;
}

.sidenav-item a:hover {
  background: #B07DFB;
}

@media only screen and (max-width: 760px) {
  .sidenav {
    box-sizing: content-box;
    padding: 0 3rem;
    position: relative;

    /* scroll */
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .sidenav::after {
    animation: arrowShaking 0.3s ease-in infinite alternate;
    color: rgba(0, 0, 0, 0.3);
    content: "→";
    position: absolute;
    right: 3rem;
    top: 5px;
  }

  @keyframes arrowShaking {
    from {
      right: 3rem;
    }

    to {
      right: 2rem;
    }
  }

  .sidenav ul {
    display: flex;
  }

  .sidenav-item {
    flex: 1 0 6rem;
  }

  .sidenav-item a {
    margin: 3rem 3rem 3rem 0;
  }
}

/* Content */
.content {
  grid-area: content;
  margin: 0 auto;
  max-width: 90rem;
  padding: 3rem;

  /* inner grid */
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr 1fr;
}

.content__title {
  color: #B07DFB;
}

.content__title h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
}

.content__title span {
  font-size: 1.4rem;
  font-style: italic;
}

.content__text {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.8rem;
  line-height: 1.6;
}

.content__subtext {
  color: #B07DFB;
  font-size: 1.4rem;
  max-width: 26rem;
}

@media only screen and (max-width: 600px) {
  .content {
    grid-template-columns: 100%;
  }
}

/* Infos */
.infos {
  align-items: flex-start;
  display: flex;
}

.infos__item {
  background: linear-gradient(135deg, #8844EE, #B07DFB);
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(4, 4, 4, 0.15);
  overflow: hidden;
  text-align: center;
  width: 8rem;
}

.infos__item + .infos__item {
  margin-left: 3rem;
}

.infos__number,
.infos__unit {
  color: #B07DFB;
  display: block;
}

.infos__number {
  font-size: 4.8rem;
  line-height: 1;
  margin: 1rem auto;
}

.infos__unit {
  background: #FFF;
  padding: 5px 0;
}

/* Attributes */
.attributes .content__text + .content__text  {
  margin-top: 3rem;
}

/* General section */
.general {
  display: grid;
  grid-column: 1 / -1;
  grid-gap: 3rem;
  grid-template-columns: 1fr 1fr;
}

.general__image-1 {
  align-self: end;
  grid-row: span 2;
}

.general__image-2 {
  align-self: end;
}

@media only screen and (max-width: 600px) {
  .general {
    grid-template-columns: 100%;
  }
}

.quote,
.attributes__list {
  align-self: start;
  background: linear-gradient(135deg, #8844EE, #B07DFB);
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(4, 4, 4, 0.15);
  padding: 3rem;
}

/* Quote */
.quote p {
  color: #FFF;
  font-size: 2.4rem;
  font-style: italic;
  margin: 0 auto;
  max-width: 50rem;
  text-align: center;
}

/* Attributes */
.attributes {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.attributes__list li {
  color: #FFF;
  font-family: "Courier", monospace;
  font-size: 1.8rem;
  padding: 1.5rem;
}

.attributes__list li + li {
  border-top: 2px solid #B07DFB;
}

@media only screen and (max-width: 600px) {
  .attributes {
    grid-template-columns: 100%;
  }
}

/* Advertising */
.advertising {
  background: #FAFBFC;
  grid-area: advertising;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 3rem;

  /* inner grid */
  align-content: start;
  display: grid;
  grid-gap: 3rem;
}

/* Footer */
.footer {
  background: linear-gradient(135deg, #8844EE, #B07DFB);
  grid-area: footer;
}

.footer p {
  color: #FFF;
  font-size: 1.9rem;
  padding: 3rem;
  text-align: center;
}